html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
    display : table;
	width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 20);
    position: relative;
    height: 5000px;
}

@font-face {
    font-family: 'quantum';
    src: url('../Fonts/quantum.ttf') format('truetype');
    }
    

h1, h2, h3, h4, h5, h6 {
    font-family: 'quantum';
}

h2, h3, h4, h5, h6 {
    color: #FCEE0A;
}

span{
    color: #FCEE0A;
}


/*************************NAV BAR**************************************/

header {
    width: 100%;
    /*background: url('../img/fond\ nav.png') no-repeat center center/cover;*/
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: right;
    padding: 1em;
}

/*faire en sorte que le header reste sticky avec un 
dégradé en transparence quand il y a un scroll*/

header {
    z-index: 1;
    position: fixed;
    transition: 0.4s;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
}

#logo {
    width: 16%;
    height: auto;
    float: left;
    margin-left: 40px;
}

.header img:hover {
    transform: scale(0.92);
}

header ul {
    margin-right: 100px;
    font-size: 2vh;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

header li {
    margin-right: 40px;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: #FCEE0A;
}

#menuNav::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #FCEE0A;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#menuNav:hover::after {
    transform: scale(1);
}

/*************************FOOTER**************************************/

footer {    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: url('../img/fond\ footer.png') no-repeat center center/cover;
    color: white;
    display: block;
}

#footerPages li {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    width: auto;
}

footer img {
    width: 54%;
    height: auto;
    padding: 40px;
    float: left;
    margin-left: 50%;
    transition: transform 0.5s ease-in-out;
}

footer img:hover {
    transform: scale(0.92);
}

footer ul {
    width: auto;
    font-size: 1.8vh;
    list-style-type: none;
    text-decoration: none;
    margin-left: -40%;
}

#footerPages a:hover {
    color: #FCEE0A;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerPages {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerPages a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#footerPages li::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #FCEE0A;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#footerPages li:hover::after {
    transform: scale(1);
}

#copyright {
    width: 100%;

}

#copyright p {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

/*************************Responsive footer**************************************/

@media screen and (max-width: 1000px) {

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    footer img {
        width: 50%;
        height: auto;
        padding: 20px;
        float: left;
        margin-left: 24%;
    }

    footer ul {
        width: auto;
        font-size: 1.5vh;
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        margin-left: 0%;
        padding: 0;
    }

    #footerPages {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #footerPages li {
        color: white;
        text-decoration: none;
        margin-top: 20px;
        width: auto;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    #footerPages {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #footerPages a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    #footerPages li::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #FCEE0A;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
    }

    #footerPages li:hover::after {
        transform: scale(1);
    }

    #footerPages li {
        color: white;
        text-decoration: none;
        margin-top: 20px;
        width: auto;
    }

    footer img:hover {
        transform: scale(0.92);
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*************************Responsive header menu burger**************************************/



/*************************Main**************************************/

/**illustration top page**/

main{
    height: 1800px;
}

.imgTop{
    background-image: url('../img/cyberpunk-2077-ville.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.titre{
    color: white;
    font-size: 4vh;
    text-align: center;
    height: 60vh;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

.titre h4{
    color: white;
}

/**Séparation**/

.separation ul{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 4vh;
    padding-top: 1%;
}

.separation li{
    display: inline;
    margin: 0 40px;
    color: white;
    font-size: 2vh;
}

.separation{
    background-color: rgb(54, 54, 54);
}

/**Univers**/

.elemUnivers{
    display: flex;
    width: 70%;
    margin-left: 15%;
    color: white;
    flex-wrap: wrap;
}

.elemUniversGauche{
    width: 50%;
    float: left;
}

.elemUniversGauche img{
    width: 90%;
    margin-left: -66px;
    transition: transform 0.5s ease-in-out;
}

.elemUniversGauche img:hover{
    transform: scale(0.96);
}

.elemUniversGauche h2{
    width: 80%;
    font-size: 2.8vh;
    text-align: right;
    padding: 22% 0  6% 0;
}

.elemUniversDroite{
    width: 50%;
    float: right;
}

.elemUniversDroite img{
    padding-top: 100px;
    width: 70%;
    margin-left: 66px;
    transition: transform 0.5s ease-in-out;
}

.elemUniversDroite img:hover{
    transform: scale(0.96);
}

.elemUniversDroite > h4, .elemUniversDroite > p{
    width: 80%;
    margin-left: 14%;
    font-size: 2vh;
}

.elemUniversGauche > h4, .elemUniversGauche > p{
    width: 90%;
    margin-left: -6%;
    font-size: 2vh;
}

/**Elems night city**/

.NCtitre{
    color: white;
    font-size: 2vh;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 1.6%;
}

.NCimg img{
    width: 86%;
    margin-left: 7%;
    transition: transform 0.5s ease-in-out;
}

.NCimg img:hover{
    z-index: 100;
    transform: scale(0.96);
}

.NCimg{
    width: 100%;
    height: 100vh;
}

.NCtexte{
    color: white;
    font-size: 2vh;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
    background-color: rgba(0, 0, 0, 0.5);
}

.NCtexte h4, .NCtexte p{
    width: 70%;
    margin-left: 15%;
    font-size: 2vh;
}

.elemNC button{
    margin-left: -1%;
}

/**Elems personnages**/

.elemP{
    padding-top: 10%;
    padding-bottom: 6%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;;
}

.imgPerso{
    margin-left: auto;
}

.imgPerso img{
    width: 16%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 2%;
    margin-left: 8%;
}

.imgPerso img:hover{
    transform: scale(0.96);
}

.Ptexte{
    width: 50%;
    margin-left: 25%;
    font-size: 2vh;
    color: white;
}

.elemP button{
    margin-left: 69%;
}

/**Boutons**/

button{
    width: 120px;
    height: 5vh;
    margin-left: 50%;
    margin-top: 60px;
    background-color: #FCEE0A;
    border: none;
    border-radius: 12px;
    font-size: 2vh;
    transition: transform 0.5s ease-in-out;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: #FCEE0A;
    color: black;
    transform: scale(1.1);   
}


/*************************Page Univers**************************************/

/**Top page**/

